# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/
temp/
temp_repos/
*.db
